body{
    background-color: rgb(248, 250, 253);
}

a{
    text-decoration: none;
    color: black;
}
.ordered{
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
}
::placeholder, label{
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.5);
}

.goodLooking{
    padding-left: 5rem;
    width: 40rem;
    height: 2.5rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(240, 243, 244);
    
}
.goodLooking:focus{
    outline: none;
    background-color: white;
}
.search:hover{
    box-shadow: 4px 4px 0 0  rgba(0, 0, 0, 0.2);
    border-radius: 0 5px 0 5px;
    background-color: rgb(240, 243, 244);
    width:42rem;
    height: 2.7rem;
    transition: all 1s;
}
.bigger{
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.5);
}

.alignDimine{
    width: 2rem;
    height: 2rem;
}

.search{
    display: flex;
    background-color: rgb(240, 243, 244);
    align-items: center;
    /* align-items: center; */
    /* justify-content: center; */
    /* align-items: center; */
}

.linksToTheMainPage{
    max-width: 10%;
    display: flex;
    gap: 20%;
    z-index: 1;
   
   
}

.burgerContainer:hover{
    display : flex;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    border: none;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    transition: all 1s;
}
.centered{
    display: flex;
    /* align-items: center; */
    /* align-content: flex-start; */
    /* justify-content: space-around; */
    margin-top: 2%;
    gap: 15%;
}

.sidenav{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 2%;
    gap: 20px;
    transition: all 1.5s;
    
}
.allContacts{
    width: 70%;
    margin-top: 2%;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
}
.styleCreateContact{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 2%;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
}
input[placeholder ="Créer un contact"]{
    display: flex;
    justify-content: center;
    align-self: center;
}

.measureColorCreateContact{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 13rem;
    height: 3.5rem;
    border: none;
    border-radius: 10px;
    background-color: rgb(194, 231, 255);
    
}

.measureColorContactList{
    display: flex;
    align-items: center;
    padding: 0% 15% 0% 15%;
    justify-content: space-between;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 15rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    background-color: rgb(194, 231, 255);
}

.btnFrequentList{
    display: flex;
    align-items: center;
    /* padding: 0% 15% 0% 15%; */
    /* justify-content: space-between; */
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 15rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    gap: 8px;
    margin-left: 1rem;
    /* background-color: rgb(194, 231, 255); */
}

.libelle{
    display: flex;
    align-items: center;
    /* padding: 0% 15% 0% 15%; */
    justify-content: space-between;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 15rem;
    height: 2.5rem;
    /* border: none; */
    /* border-radius: 10px; */
    /* gap: 8px; */
    margin-left: 1rem;
    /* background-color: rgb(194, 231, 255); */
}

.labels{
    display: flex;
    align-items: center;
    padding: 0% 15% 0% 15%;
    justify-content: space-between;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 15rem;
    height: 2.5rem;
    border: none;
    /* border-radius: 10px; */
    /* background-color: rgb(194, 231, 255); */
}

.pushToTheLeftSide{
    transform: translateX(-300%);
    display: none;
    /* transition: all 2s; */
}
.takesTheWholePlace{
    width: 100%;
    /* transition: all 2s; */
}

/* .allContacts{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

} */

.styleTable{
   
    border : none;
    /* border-collapse: collapse; */
    width: 100%;
    color: black;
    text-align: justify;
    /* margin-top: 70px; */
    font-size: 1rem;
    /* background-color: blueviolet; */
}
.styleBorder {
  
    padding : 10px; 
    /*border : 1px solid silver*/
    border: none;
    /* background-color: brown; */

    
}

.styleDivCreateContactHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 5% 0% 5%;
    margin-top: 2%;
    width: 80%;
    height: 10%;
    background-color: rgb(212, 126, 126);
    border: none;
    border-radius: 5px;
    margin-left: 5%;
}
.styleDivCreateContactBody{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    /* gap: 10%; */
    /* background-color: black; */
}

.styleBtnEnregistrer{
    width: 15%;
    height: 70%;
    background-color: blue;
    border: none;
    border-radius: 15px;
}
.styleBtnEnregistrer:hover{
    cursor: pointer;
}
.styleArrowContainer:hover{
    cursor: pointer;
}

.round{
    width: 30%;
    height: 40%;
    border-radius: 50%;
}

.btnAddLibelle{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5%;
    width: 15%;
    height: 8%;
    font-size: 1rem;
    /* background-color: blue; */
    border: 2px solid black;
    border-radius: 15px;
}

.divInputPrenomDimension{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 8%;
    background-color: aqua;
    margin-top: 5%;
}

.inputPrenomDimension, 
.inputNomDimension{
    width: 80%;
    height: 80%;
    border-radius: 5px;
}
.iconPersonDimension{
    width: 5%;
    height: 90%;
}

.divInputNomDimension{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 3%;
    width: 80%;
    height: 8%;
    border-radius: 5px;
}

.divAddEmailAddressDimension{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 2%;
    width: 65%;
    height: 5%;
    margin-left: 15%;
    background-color: aqua;
    margin-top: 5%;
}
.divAddEmailAddressDimension:hover{
    cursor: pointer;
}
.btnFlagList{
    width: 12%;
    height: 90%;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1rem;
}

td{
    text-align: center;
   /* padding: 2%; */
   font-size: 1.2rem;
   
   
}
th{
    font-size: 1.5rem;
}
/* tr{
    text-align: center;
} */

.smallCircle{
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 50%;
    background-color: black;
}

.labels{
    display: none;
}

.createLabelContainer{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 2;
}

.styleFormCreateLabel{
    
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 30%;
    background-color: rgb(238, 243, 251);
    border: none;
    border-radius: 15px;
    padding-left: 2%;
    padding-bottom: 2%;
    /* gap: 5px; */
    justify-content: space-around;
    box-shadow: 8px 4px 4px 4px  rgba(0, 0, 0, 0.2);
    /* padding: 2%; */
    /* z-index: 2; */
}

.normalized{
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.8);
    font-family: Arial, Helvetica, sans-serif;
    margin: 1%;
}

.styleInputFormCreatelabel{
    
    width: 90%;
    height: 20%;
    border: 3px solid rgb(9, 87, 208);
    border-radius: 5px;
    background-color: rgb(238, 243, 251);
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif; 
    

}
.styleInputFormCreatelabel:focus{
    outline: none;
}

.styleLabelInInput{
    position: absolute;
    font-size: 0.9rem;
    font-family: 'Arial Narrow Bold', sans-serif;
    color: rgba(58, 117, 217, 0.4);
    font-weight: bold;
    margin: 0% 0% 2% 7%;
    cursor: text;
    
    /* background-color: rgb(238, 243, 251); */
    /* border: none; */
    /* padding: 0; */
}

.newStyleLabelInInput{
    position: absolute;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(58, 117, 217);
    margin: 0% 0% 5.5% 1%;
    background-color: rgb(238, 243, 251);
    /* transition: all 0.5s; */
}

.styleLabelBtnContainer{
    display: flex;
    width: 80%;
    height: 30%;
    justify-content: space-evenly;
}
.styleBtnLabel{
    font-size: 0.9rem;
    font-family: 'Arial Narrow Bold', sans-serif;
    color: rgb(58, 117, 217);
    font-weight: bold;
    background-color: rgb(238, 243, 251);
    border: none;
    padding: 0;
}
.styleBtnLabel:hover{
    cursor: pointer;
}

.close{
   visibility: hidden;
   
}
.bold{
    font-size: 1.5rem;
    font-weight: bold;
}
.smaller{
    width: 80%;
    height: 80%;
}
.labelList{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.labels{
    display: flex;
    /* flex-direction: row-reverse; */
    align-items: center;
    /* padding: 0% 15% 0% 15%; */
    justify-content: space-between;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 15rem;
    height: 2.5rem;
    /* border: none; */
    /* border-radius: 10px; */
    /* gap: 8px; */
    /* margin-left: 1rem; */
    /* background-color: rgb(194, 231, 255); */
}

.labelName:hover{
    cursor: pointer;
}

.styleDivDeleteModify{
    display: flex;
    align-items: flex-end;
    gap: 10px;
    background-color: rgb(58, 117, 217);
    visibility: hidden;
}
.newStyleDivDeleteModify{
    visibility: visible;
}
.newStyleTr{
    background-color: rgb(58, 117, 217);
}